html, body {
    height: 100%;
    overflow: hidden;
}
body {
  position: relative;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;                                 /* prevent horizontal scrolling */
  padding-left: 10px;
  color: #e2e0dc;
  background-color: #212324;
}

.titulum{
    position: absolute;
    top: 5vh;          /* vertical distance from top of page */
    right: 5vw;       /* distance from right side */
    z-index: 9999;        /* ALWAYS on top */
}
.titulum h1 {
    font-size: 3vw;      /* scales smoothly with screen width */
    margin: 0;
}
.titulum p {
    font-size: 1.5vw;
    margin: 0;
    text-align: center;
}

:root {
    --card-size: 180px;   /* default desktop size */
    --faszmano-size: 100px;
    --polaroid-size: 75px;
    --smiley-size: 100px;
}

.cards {
    height: var(--card-size);
    width: auto;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.45);
    border-radius: 8px;
}

.container {
    position: absolute;
    inset: 0;           /* full viewport */
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    padding: 10px;
}



.pokertable,
.pokertable-opp,
.pokertable-dealing {
    opacity: 1; /* 0 to 1 */
    pointer-events: none;
}
/* RED */
.table-opp {
    position: absolute;
    top: 2vh;
    left: 2vw;
    width: 70vw;
    max-width: 1400px;
}
.pokertable-opp {
    width: 100%;
    height: auto;
}
.flexy-opp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;          /* row of opponent cards */
    align-items: center;
    justify-content: center;
    gap: 2vw;                    /* distance between opponent cards */
    transform: translate(-3vw, -10vh);   /* move left + higher, like .flexy */
}


/* GREEN */
.table {
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    width: 70vw;
    max-width: 1400px;
}
.pokertable {
    width: 100%;
    height: auto;
}
/* row containing pile + hand */
/* row containing pile + hand (also acts as overlay) */
.flexy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    /* row of cards */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;                 /* distance between the 4 cards */
    transform: translate(-3vw, -2vh);   /* move cards left */
}


/* BEIGE */
.table-dealing {
    position: absolute;
    left: -2vw;
    bottom: 13vh;
    width: 40vw;
    max-width:50vw;
    transform: rotate(60deg);
}
.pokertable-dealing {
    width: 100%;
    height: auto;
}
/* row of two dealing piles – acts as full overlay on beige smudge */
.flexy-dealing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;          /* two piles next to each other */
    align-items: center;
    justify-content: center;
    gap: 10vh;                    /* distance between two piles */
    transform: translate(0vw, 0vh); /* move piles up a bit – tweak if needed */
}
/* each pile (stack of 5 cards) */
.card-pile-dealing-new {
    position: relative;
    left: 0vw;
    top: 0vh;
    transform: translate(-16vw, 0vh) rotate(-60deg);
}
.card-pile-dealing-used {
    position: relative;
    left: 0vw;
    top: 0vh;
    transform: translate(-2vw, 3vh) rotate(-60deg);
}
 
/* hide used pile slots that have no image yet */
img[src=""] {
    opacity: 0;
    box-shadow: none;
}
/* stack cards inside each dealing pile on top of each other */
.card-pile-dealing-new img,
.card-pile-dealing-used img {
    position: absolute;
    top: 0;
    left: 0;
}
.cardsleft {
    transform: rotate(-6deg);
}
#new_one{
    transform: translate(0.1vw, 0.4vh) rotate(3deg);
}
#new_two{
    transform: translate(0.2vw, 0.8vh) rotate(-2deg);
}
#new_three{
    transform: translate(-0.2vw, 0.6vh) rotate(-3deg);
}
#new_four{
    transform: translate(0.1vw, -0.4vh) rotate(2deg);
}

#used_one{
    transform: translate(0.9vw, 0.9vh) rotate(7deg);
}
#used_two{
    transform: translate(0.7vw, 0.8vh) rotate(-2deg);
}
#used_three{
    transform: translate(-1.5vw, 0.6vh) rotate(-7deg);
}
#used_four{
    transform: translate(1vw, -1.2vh) rotate(4deg);
}

#card_one_me{
    transform: translate(-0.1vw, 0.4vh) rotate(3deg);
}
#card_two_me{
    transform: translate(0.7vw, -0.3vh) rotate(-1deg);
}
#card_three_me{
    transform: translate(-0.1vw, -0.6vh) rotate(2deg);
}
#card_four_me{
    transform: translate(0.1vw, -0.3vh) rotate(1deg);
}
#card_five_me{
    transform: translate(0vw, 0.2vh) rotate(-2deg);
}

#card_one_opp{
    transform: translate(-1.3vw, -0.5vh) rotate(-2deg);
}
#card_two_opp{
    transform: translate(-0.3vw, 0.6vh) rotate(4deg);
}
#card_three_opp{
    transform: translate(0.3vw, -0.2vh) rotate(2deg);
}
#card_four_opp{
    transform: translate(0.1vw, -0.3vh) rotate(1deg);
}
#card_four_opp{
    transform: translate(0.4vw, -0.2vh) rotate(3deg);
}


#hitme {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    background-image: url("../assets/faszmano.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: var(--faszmano-size);
    height: var(--faszmano-size);

    position: absolute;
    top: 39vh; 
    right: 25vw;

    filter: drop-shadow(0 0 15px #000000);
    transform: rotate(-17deg);
}

#stand {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    background-image: url("../assets/polaroid.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: var(--polaroid-size);
    height: var(--polaroid-size);

    position: absolute;
    top: 42vh; 
    right: 20vw;

    filter: drop-shadow(0 0 15px #000000);
    transform: rotate(20deg);
}



@media (max-width: 1550px) {
    :root { --card-size: 150px; }
    :root { --faszmano-size: 100px; }
    :root { --polaroid-size: 75px; }
}
@media (max-width: 1450px) {
    :root { --card-size: 140px; }
    :root { --faszmano-size: 95px; }
    :root { --polaroid-size: 70px; }
}
@media (max-width: 1300px) {
    :root { --card-size: 130px; }
    :root { --faszmano-size: 90px; }
    :root { --polaroid-size: 70px; }
}
@media (max-width: 1150px) {
    :root { --card-size: 120px; }
    :root { --faszmano-size: 80px; }
    :root { --polaroid-size: 60px; }
}
@media (max-width: 1000px) {
    :root { --card-size: 105px; }
    :root { --faszmano-size: 75px; }
    :root { --polaroid-size: 55px; }
}
@media (max-width: 900px) {
    :root { --card-size: 95px; }
    :root { --faszmano-size: 70px; }
    :root { --polaroid-size: 50px; }
}
@media (max-width: 800px) {
    :root { --card-size: 80px; }
    :root { --faszmano-size: 65px; }
    :root { --polaroid-size: 45px; }
}
@media (max-width: 600px) {
    :root { --card-size: 50px; }
    :root { --faszmano-size: 60px; }
    :root { --polaroid-size: 40px; }
    .table-opp{
        position: absolute;
        top: 2vh;
        left: 2vw;
    }
    .flexy-opp {
        position: absolute;
        transform: translate(0, -4vh);   /* move left + higher, like .flexy */
    }
    .table{
        position: absolute;
        top: 25vh;
        left: 25vw;
    }
    .flexy {
        transform: translate(0, -25vh);   /* move cards left */
    }
    .table-dealing {
        position: absolute;
        left: 3vw;
        bottom: 50vh;
    }
    .flexy-dealing {
        transform: translate(-2vw, -3vh); /* move piles up a bit – tweak if needed */
    }
    #hitme {
        top: 42.3vh; 
        right: 40vw;
        cursor: pointer;
        transform: rotate(170deg);
        z-index: 20;
    }
    #stand {
        top: 41vh; 
        right: 30vw;
        cursor: pointer;
        transform: rotate(184deg);
        z-index: 20;
    }
}